.background{
  background-color: hsla(14, 100%, 53%, 0.6);
}

button {
  background-color:transparent;
  border: black;
  outline: black;
  cursor: pointer;
  color:yellow;
  padding-bottom: 7em;
}
.on {
  color:yellowgreen;
}
.off {
  color: black;
}

.container{
  background-color:rgb(70, 67, 67);
  text-align:justify;
  text-size-adjust:initial;

}
.card{
  text-align: center;
}
.textLabel{
  color:aliceblue
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#submit {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}