.background{
  background-color: hsla(14, 100%, 53%, 0.6);
}

button {
  background-color:transparent;
  border: black;
  outline: black;
  cursor: pointer;
  color:yellow;
}
.on {
  color:yellowgreen;
}
.off {
  color: black;
}

.container{
  background-color:rgb(70, 67, 67);
  text-align:justify;
  text-size-adjust:initial;

}
.card{
  text-align: center;
}
.textLabel{
  color:aliceblue
}